@CHARSET "UTF-8";

#ads_footer {
	clear: both;
	text-align: center;
	padding: 5px;
	margin: 0;
	width: 950px;
	border-top: 1px solid black;
}

#ad_elektro {
	border: 1px solid black;
}

#gads {
	text-align: center;
	padding: 10px 5px 5px 5px;
	margin-top: 10px;
	border-top: 1px solid black;
}